@import 'src/styles.less';

.orders-listing-container {
    margin: auto;
    max-width: 1200px;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: @dark-blue-1;
}

.orders-display {

    .orders-header,
    .order-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 0.5fr 1fr;
        padding: 10px 20px;
        align-items: center;
    }

    .orders-header {
        font-weight: bold;
    }

    .order-card {
        background-color: @white;
        margin-top: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}

.order-card .mobile-label {
    display: none;
}

.status-wrapper {
    display: flex;
    align-items: center;
}

.status-color {
    width: 20px;
    height: 12px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 2px;
}

.status-pending {
    background-color: @warning-color;
}

.status-in-progress {
    background-color: @light-blue;
}

.status-completed {
    background-color: @success-color;
}

.product-value {
    font-weight: 600;
}

nz-spin {
    position: relative;
    top: 20vh;
}

.no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
    text-align: center;
    color: @dark-blue-1;

    .icon {
        font-size: 50px;
        color: @light-grey;
    }
}

// Mobile styling
@media (max-width: @tablet-breakpoint) {
    .orders-display .orders-header {
        display: none; // Hide original headers on mobile
    }

    .orders-display .order-card {
        display: grid;
        grid-template-columns: 1fr; // Single column layout
        grid-gap: 10px;
    }

    .order-card .mobile-label {
        display: inline;
        font-weight: bold;
        margin-right: 8px;
    }
}
