<ng-container *ngrxLet="data$ as data">
    <div class="orders-listing-container">
        <h1>Order History</h1>
        <cc-orders-filter 
            (filterChange)="filterChange($event)" 
            [productLines]="data.productLines"
            [relevantStartDate]="data.relevantStartDate" 
            [relevantEndDate]="data.relevantEndDate">
        </cc-orders-filter>

        <nz-alert *ngIf="data.error" nzType="error" [nzMessage]="data.error"></nz-alert>

        <div class="orders-display">
            <div *ngIf="data.orders.length > 0 || data.loading" class="orders-header">
                <span>Status</span>
                <span>Order Number</span>
                <span>Product Line</span>
                <span>Product</span>
                <span>Quantity</span>
                <span>Date Requested</span>
            </div>
            <nz-spin [nzSpinning]="data.loading" nzSize="large">
                <ng-container *ngIf="data.orders.length > 0 || data.loading; else noDataTemplate">
                    <div *ngFor="let order of data.orders; trackBy: trackByOrderId" class="order-card">
                        <div class="status-wrapper">
                            <span class="mobile-label">Status:</span>
                            <div [ngClass]="getStatusClass(order.status)" class="status-color"></div>
                            {{ order.status }}
                        </div>
                        <div>
                            <span class="mobile-label">Order Number:</span>
                            {{ order.orderNumber }}
                        </div>
                        <div>
                            <span class="mobile-label">Product Line:</span>
                            {{ order.productLine }}
                        </div>
                        <div class="product-value">
                            <span class="mobile-label">Product:</span>
                            {{ order.product }}
                        </div>
                        <div>
                            <span class="mobile-label">Quantity:</span>
                            {{ order.quantity.value }} {{ order.quantity.unit }}
                        </div>
                        <div>
                            <span class="mobile-label">Date Requested:</span>
                            {{ order.dateRequested | date:'dd.MM.yyyy' }}
                        </div>
                    </div>
                </ng-container>
            </nz-spin>

            <ng-template #noDataTemplate>
                <div class="no-data">
                    <span class="icon" nz-icon nzType="info-circle" nzTheme="fill"></span>
                    <h1>Nothing to display</h1>
                    <p>Please, adjust filters to see more results.</p>
                </div>
            </ng-template>
        </div>
    </div>
</ng-container>
