<ng-container [formGroup]="filtersForm">
    <div>
        <label> Status </label>
        <nz-checkbox-group formControlName="status"></nz-checkbox-group>
    </div>

    <div>
        <label> Product Line</label>
        <nz-select nzPlaceHolder="Select a person" formControlName="productLine">
            <nz-option nzLabel="All product lines" [nzValue]="null"></nz-option>
            <nz-option *ngFor="let productLine of productLines" [nzLabel]="productLine"
                [nzValue]="productLine"></nz-option>
        </nz-select>
    </div>

    <div>
        <label> Date Range </label>
        <nz-range-picker [nzShowTime]="false" formControlName="dateRange" [nzDefaultPickerValue]="relevantDateRange"></nz-range-picker>
    </div>

    <div>
        <input nz-input placeholder="Search order number" formControlName="searchOrderNumber"/>
    </div>
</ng-container>